@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply leading-[normal] m-0;
}
*, ::before, ::after { border-width: 0; }

.scrollbar-custom {
    --scrollbar-thumb-radius: 6px; 
}

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
}

@media (min-width: 640px) { 
    .scrollbar-custom::-webkit-scrollbar {
        width: 8px;
    }
}

@media (min-width: 1024px) { 
    .scrollbar-custom::-webkit-scrollbar {
        width: 10px;
    }
}

@media (min-width: 1536px) { 
    .scrollbar-custom::-webkit-scrollbar {
        width: 12px;
    }
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #111; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: var(--scrollbar-thumb-radius);
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.scroll-active::-webkit-scrollbar-thumb {
    background: #333;
}

.not-rounded-top::-webkit-scrollbar-thumb {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.not-rounded-bottom::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .floatingNav {
    border-radius: 12px;
    overflow: hidden;
  }
  
  .floatingNav::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: conic-gradient(
      from 10deg,
      #9845e8, #33d2ff, #dd5789, #9845e8
    );
    background-size: 200% 200%;
    animation: gradientFlow 5s linear infinite;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    z-index: -1;
  }
 
  .language {
    transition: transform 0.3s ease; /* 0.5s to match the delay in handleLanguageChange */
  }
  
  .language.animateLan,
  .language .imgBX.animateImgBx {
    animation: animateLan 0.3s linear; /* Only runs once when active */
  }
  
  @keyframes animateLan {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes animateImgBx {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .language-container {
    transition: transform 0.3s ease;
  }
  
  .language-item {
    transition: transform 0.3s ease;
    position: absolute;
    width: max-content;
    text-align: center;
  }
  
  .arrow-image {
    transition: transform 0.3s ease;
    position: absolute;
    width: 5px;
    height: 10px;
    transform-origin: center center;
  }
  